[user]
	name = kevmoo
	email = kevmoo@j832.com
[init]
	defaultBranch = main
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = code
[color]
	ui = auto
