*
!.zshrc
!.zshenv
!.config/
.config/*
!.config/brew/
!.config/brew/**
!.config/dot/
!.config/dot/**
!.config/gh/
!.config/gh/config.yml
!.config/git/
!.config/git/**
.config/git/config.local

!.config/kevmoo-fyi/
!.config/kevmoo-fyi/**
!.config/mise/
!.config/mise/**
!.config/starship.toml
!.config/tmux/
!.config/tmux/**
!.config/zsh/
!.config/zsh/**
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/brewall
!.local/bin/brew-check
!.local/bin/dot-check-ignores
!.local/bin/dot
!.local/bin/net-diag
!.gemini/**
!.zshrc.d/**
!README.md
!AGENTS.md
.config/zsh/rc.d/secrets.zsh
.config/zsh/rc.d/local.zsh
!.config/git/hooks/
!.config/git/hooks/*
