[Unit]
Description=oauth2-proxy
After=guac-guacamole.service
Wants=guac-guacamole.service

[Container]
ContainerName=oauth2-proxy
Image=quay.io/oauth2-proxy/oauth2-proxy:latest
Pod=guac.pod
AutoUpdate=registry
EnvironmentFile=/var/home/kevmoo/.config/oauth2-proxy/oauth2-proxy.env
Volume=/var/home/kevmoo/.config/oauth2-proxy/authenticated-emails.txt:/etc/oauth2-proxy/authenticated-emails.txt:Z,ro

[Service]
Restart=always

[Install]
WantedBy=default.target
